<div class="txn">
  <div class="titleTxn"><%= txn.activity.title %></div>
  <div class="pointsTxn"><%= txn.points %></div>
  <div class="deleteTxn"><%= link_to 'Delete', txn, :method => :delete %></div>
  <div class="clear"></div>
</div>
