.container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.description {
    font-size: 18px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.heading {
    font-size: 24px;
    font-family: "Times New Roman", Times, serif;
}

.activity {
    padding: 5px;
    margin: 4px;
}

header {
    padding-top: 10px;
}

header img {
    padding: 1em;
}

section {
    margin-top: 1em;
    padding: 10px;
    width: 100%;
    float: left;
}

/* table */

/* Links */

a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

/* Navigation */

nav {
    float: right;
}

nav {
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Round corners */

.round {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.clickable {
    cursor: pointer;
}

.logoText {
    color: white;
    font-size: 400%;
    text-align: left;
    float: left;
}

.logoImage {
    margin-left: -8px;
    margin-right: -8px;
    width: 64px;
    height: 64px;
}

.userImage {
    margin: 10px;
    float: right;
    width: 192px;
    height: 128px;
}

.DateHeading {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #CCC;
    font-size: 300%;
}

.BottomLink {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #CCC;
    font-size: 18px;
    padding: 18px;
}

.TopSection {
    background-color: #000;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.MidSection {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    text-align: center;
}

.BottomSection {
    background-color: #000;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.cumulative {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    font-size: 800%;
    text-align: center;
}

.CurrentScore {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #6C3;
    font-size: 400%;
    padding: 10px;
}

.PointChange {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: #FFF;
    font-size: 300%;
    padding: 10px;
}

.NegativeSign {
    color: #F30;
}

.PositiveSign {
    color: #6C3;
}

.Shade {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 200%;
    color: #999999;
    cursor: pointer;
    padding: 80px;
}

.Spotlight {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 300%;
    color: #FFF;
    padding: 50px;
}

div.MidSectionTopBar {
   padding-bottom: 50px;
}

/*
  Three columns
*/

div.leftColumn {
    float: left;
    width: 50%;
    margin-top: 0;
    padding: 0;
    text-align: right;
}

div.middleColumn {
    float: left;
    width: 5%;
    margin-top: 0;
    padding: 0;
}

div.rightColumn {
    float: left;
    width: 45%;
    margin-top: 0;
    padding: 0;
    text-align: left;
}

/*
  Rows within the three columns
*/

div.leftColumnTop {
    margin-top: 0;
    padding: 8px;
}

div.leftColumnSelected {
    margin-top: 0;
    padding: 10px;
    border-top: 4px solid;
    border-bottom: 4px solid;
}

div.middleColumnTop {
    margin-top: 120px;
}

div.middleColumnMiddle {
    margin-top: 90px;
    padding: 37px;
    border-top: 4px solid;
    border-bottom: 4px solid;
}

div.middleColumnBottom {
    margin-top: 120px;
}

div.rightColumnTop {
    margin-top: 120px;
    padding: 8px;
}

div.rightColumnMiddle {
    margin-top: 157px;
    padding: 10px;
    border-top: 4px solid;
    border-bottom: 4px solid;
}

div.rightColumnBottom {
    margin-top: 20px;
}
/* -----------------------------------------LATEST STYLE----------------------------------------- */
/* row1 */
.row1 {
    width: 100%;
    clear:both;
}
.row1left {
    width: 20%;
    float: left;
    color: white;
    font-size: 400%;
    text-align: left;
}

.row1middle {
    width: 60%;
    float: left;
    color: white;
    font-size: 800%;
    text-align: center;
}

.row1right {
    width: 20%;
    float: right;
}

/* row2 */

.row2 {
    width: 100%;
    clear:both;
}

.row2left {
    width: 44%;
    float: left;
    text-align: right;
    color: white;
    font-size: 300%;
    padding-right: 5px;
}

.row2right {
    width: 55%;
    float: left;
    text-align: left;
    color: #6C3;
    font-size: 300%;
    padding-left: 5px;
}

/* row3 */

.row3 {
    width: 100%;
    clear:both;
}

.row3left {
    width: 40%;
    float: left;
    text-align: right;
    color: white;
    font-size: 150%;
    padding-right: 5px;
}

.row3right {
    width: 58%;
    float: left;
    padding-left: 5px;
}

/* row4 -----special row for selected value-----*/

.row4 {
    width: 100%;
    clear:both;
}

.row4left {
    width: 40%;
    float: left;
    text-align: right;
    color: white;
    font-size: 200%;
    padding-right: 5px;
}

.row4middle {
    width: 30%;
    float: left;
    text-align: left;
    color: white;
    font-size: 200%;
    padding-left: 5px;
}

.row4right {
    width: 29%;
    float: left;
}

/* row5 */
.row5 {
    width: 100%;
    clear:both;
}

.row5left {
    width: 40%;
    float: left;
    text-align: right;
    color: white;
    font-size: 150%;
    padding-right: 5px;
}

.row5right {
    width: 58%;
    float: left;
    padding-left: 5px;
}
