/* -----------------------------------------MISC----------------------------------------- */

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.NegativeSign {
    color: #ff0066;
}

.PositiveSign {
    color: #009933;
}

.clickable {
    cursor: pointer;
}

.clear {
    clear: both;
}

.container {
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-right: 15%;
}

.left {
    float: left;
}

.right {
    float: right;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

/*-----------------------------------------IMAGES ----------------------------------------- */

.userImage {
    float: right;
    width: 64px;
    height: 64px;
}

.goImage {
    width: 104px;
    height: 104px;
}

.directionImage {
    width: 96px;
    height: 96px;
}

/*-------------------------------- TOP BAR ----------------------------------- */

.topBar {
    padding-left: 5px;
    background-color: #721700;
    height: 64px;
    width: 100%;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    width: 45%;
    float: left;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 150%;
}

.userData {
    width: 10%;
    float: left;
    text-align: left;
    padding: 2px;
    font-size: 300%;
}

.userImageSection {
    width: 10%;
    float: right;
}

.navigation {
    width: 30%;
    float: left;
    text-align: right;
}

/*-------------------------------- DATE AND DAILY SCORE ----------------------------------- */

.selectedDate {
    width: 43%;
    float: left;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 125%;
    text-align: left;
    color: #424245;
}

.dailyScore {
    width: 52%;
    float: left;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-size: 175%;
    text-align: left;
    color: #009933;
}

/*-------------------------------- SELECTIONS AND ACTIONS --------------------------------- */

.selectionsAndActions {
    margin-top: 5px;
}
.selections {
    width: 65%;
    float: left;
    text-align: right;
}

.actions {
    width: 30%;
    float: left;
}

.selection {
    padding: 5px;
    padding-right: 100px;
    color: #6F6F70;
    font-size: 125%;
}

.selectedItem {
    padding: 10px;
    border: 1px solid;
    font-size: 150%;
    color: #721700;
}

.upArrow {
  padding-left: 20px;
}

.goButton {
  padding-left: 20px;
  margin-top: 90px;
}

.downArrow {
 padding-left: 20px;
 margin-top: 80px;
}



/* TXN INDEX ---------------------------*/

.txnContainer {
    width: 70%;
    position: absolute;
    top: 64px;
    left: 0;
    margin-left: 15%;
    margin-right: 15%;
    color: #424245;
}

div.txn {
    padding: 3px;
    margin: 20px;
}

div.titleTxn {
    width: 60%;
    float: left;
    text-align: left;
}

div.pointsTxn {
    width: 10%;
    float: left;
    text-align: left;
}

div.deleteTxn {
    width: 20%;
    float: left;
    text-align: center;
}

div.deleteTxn a {
    text-decoration: none;
    color: #721700;
    font-size: 100%;
}

/* Activities ---------------------------*/

.activityContainer {
    width: 70%;
    position: absolute;
    top: 64px;
    left: 0;
    margin-left: 15%;
    margin-right: 15%;
    color: #424245;
}

.activity {
    padding: 3px;
    margin: 10px;
}

div.activityContainer a {
    text-decoration: none;
    color: #721700;
    font-size: 100%;
}

.activityTitle {
    width: 60%;
    float: left;
    text-align: left;
}

.activityPoints {
    width: 10%;
    float: left;
    text-align: left;
}

.activityEdit {
    width: 10%;
    float: left;
    text-align: center;
}

.activityDelete {
    width: 10%;
    float: left;
    text-align: center;
}

/* forms ---------------------------*/

.label {
    width: 20%;
    float: left;
    text-align: right;
    padding-right: 5px;
}

.inputBox {
    width: 70%;
    float: left;
}

.fieldRow {
   margin: 10px;
}

.submitButton {
   padding-left: 40%;

}