.container {
  margin-left:auto;
  margin-right:auto;
  width:70%;
}

.left {
  float:left;  
}

.right {
  float:right;
}

.description {
  font-size:18px;
  font-style:italic;
  font-family:"Times New Roman", Times, serif;
}

.heading {
  font-size:24px;
  font-family:"Times New Roman", Times, serif;
}

.activity {
  padding:5px;
  margin:4px; 
}

header {
  padding-top: 10px;
}

header img {
  padding: 1em;
}

section {
  margin-top: 1em;
  padding: 10px;
  width: 100%;
  float: left;
}

/* table */

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

nav {
  float: right;
}

nav {
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}


/* Round corners */

.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

