<div class="activityContainer">
  <h1>Edit Activity</h1>

  <%= form_for(@activity) do |f| %>
      <%= render 'fields', :f => f %>
      <div class="fieldRow">
        <div class="label">&nbsp;</div>
        <div class="inputBox"><%= f.submit "Update" %></div>
        <div class="clear"></div>
      </div>
  <% end %>
</div>


